
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
	<h2>Available Shoes</h2>
<form th:action="@{/orders/place}" method="post" th:object="${orderShoeTransfer}">
    <table>
        <thead>
            <tr>
            	<th>Shoe Id</th>
                <th>Shoe Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Available Quantity</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="shoe, iterStat : ${shoes}" th:with="shoePid=${shoe.pid}">
            	<td th:text="${shoe.pid}">10000</td>
                <td th:text="${shoe.pname}">Shoe Name</td>
                <td th:text="${shoe.pbrand}">"UNKNOWN"</td>
                <td th:text="${shoe.price}">0</td>
                <td th:text="${shoe.qty}">0</td>
                    <td>
                        <input type="number" 
                               th:field="*{orderShoes[__${iterStat.index}__].quantity}" 
                               max="${shoe.qty}" />
                    </td>
                    <td>
                        <input type="number" 
                               th:field="*{orderShoes[__${iterStat.index}__].pid}" 
                               th:value="${shoe.pid}" 
                                min ="${shoe.pid}" max="${shoe.pid}" />
                    </td>

            </tr>
        </tbody>
    </table>
    <input type="submit" value="Place Order"/>
</form>
    <h2>Your Orders</h2>
  <table border="1">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date-Time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.oid}"></td>
                <td th:text="${order.orderdatatime}"></td>
            </tr>
        </tbody>
    </table>
<br/>


</body>
</html>
